nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    .block1 {
        display: flex;
        align-items: center;
        a {
            text-decoration: none;
        }
        h1 {
            color: rgb(255, 0, 0);
            font-family: JacquesFrançoisShadow;
            font-size: 45px;
        }
        .img-responsive {
            display: none;
        }
    }
    .block2 {
        .logout {
            width: 48px;
            height: 48px;
            border: 1px solid white;
            margin-right: 10px;
            border-radius: 15px;
            margin-left: 15px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 600px) {
    body {
        nav {
            padding: 5%;
            .block1 {
                h1 {
                    display: none;
                }
                .menu {
                    width: 60px;
                    height: 60px;
                }
                .img-responsive {
                    display: block;
                    width: 25%;
                }
            }
        }
    }
}