@charset "UTF-8";
@font-face {
  font-family: JacquesFrançoisShadow;
  src: url(../fonts/Jacques_Francois_Shadow/JacquesFrancoisShadow-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
header {
  background-image: linear-gradient(black 60%, rgb(22, 22, 22));
}

body {
  font-family: Montserrat;
  margin: 0 auto;
  background-color: rgb(22, 22, 22);
}
body main .site .connect {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
body main .site h2 {
  padding-bottom: 2%;
}
body main .site .mainpage {
  display: flex;
}
body main .site .mainpage h1, body main .site .mainpage h2 {
  color: white;
}
body main .site .mainpage .genre {
  width: 25%;
}
body main .site .mainpage .genre .icon-movie {
  width: 90%;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 25px;
}
body main .site .mainpage .genre ul li {
  list-style-type: none;
  padding: 10px;
}
body main .site .mainpage .genre ul li a {
  color: white;
  text-decoration: none;
}
body main .site .mainpage .genre ul li a:hover {
  cursor: pointer;
}
body main .site .mainpage .container {
  margin: 0px 15px;
  margin-left: 5%;
  overflow: hidden;
}
body main .site .mainpage .container h1 {
  text-align: center;
}
body main .site .mainpage .container .home-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .site .mainpage .container .home-bar li {
  list-style-type: none;
  text-align: center;
  font-size: 20px;
}
body main .site .mainpage .container .home-bar li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  text-align: center;
}
body main .site .mainpage .container .title-slider {
  color: white;
  text-align: left;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}
body main .site .mainpage .container #slider .photo {
  border-radius: 25px;
}
body main .site .mainpage .container #slider .photo:hover {
  cursor: pointer;
}
body main .site .mainpage .container .chevron {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}
body main .site .mainpage .container .chevron .btn:hover {
  cursor: pointer;
}

@media (min-width: 1240px) {
  body main .mainpage .genre ul {
    width: 100%;
  }
  body main .mainpage .genre ul li {
    width: 150%;
  }
  body main .mainpage .container .chevron .btn {
    width: 5%;
  }
}
@media (min-width: 600px) and (max-width: 1240px) {
  body main .mainpage .genre {
    gap: 10%;
  }
  body main .mainpage .genre ul {
    width: 20%;
  }
  body main .mainpage .genre ul li {
    width: 50%;
  }
  body main .mainpage .container {
    margin-left: 3%;
  }
  body main .mainpage .container .chevron {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body main .mainpage .container .chevron .btn {
    width: 10%;
    padding-bottom: 25px;
  }
}
@media (min-width: 444px) and (max-width: 600px) {
  body main {
    margin: 15px;
  }
  body main .site .connect {
    width: 45%;
  }
  body main .mainpage {
    flex-direction: column;
  }
  body main .mainpage .genre {
    display: flex;
    flex-direction: column;
    order: 1;
  }
  body main .mainpage .genre .icon-movie {
    visibility: hidden;
  }
  body main .mainpage .genre ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  body main .mainpage .genre ul li {
    text-align: center;
  }
  body main .mainpage .container {
    order: 0;
  }
  body main .mainpage .container .chevron {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body main .mainpage .container .chevron .btn {
    width: 15%;
  }
}
@media (max-width: 444px) {
  body main .mainpage {
    flex-direction: column;
  }
  body main .mainpage .genre {
    order: 1;
  }
  body main .mainpage .genre .icon-movie {
    visibility: hidden;
  }
  body main .mainpage .genre ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 50%;
  }
  body main .mainpage .genre ul li {
    text-align: center;
  }
  body main .mainpage .container {
    margin-left: 2%;
    margin-right: 2%;
    order: 0;
  }
  body main .mainpage .container .chevron {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body main .mainpage .container .chevron .btn {
    width: 15%;
  }
}/*# sourceMappingURL=homepage.css.map */