@font-face {
    font-family: JacquesFrançoisShadow;
    src: url(../fonts/Jacques_Francois_Shadow/JacquesFrancoisShadow-Regular.ttf);
};
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

header {
    background-image: linear-gradient(black 60%, rgb(22, 22, 22));
}

body {
    font-family: Montserrat;
    margin: 0 auto;
    background-color: rgb(22, 22, 22);
    main {
        .site {
            //Si non connecté
            .connect {
                display: flex;
                margin-left: auto;
                margin-right: auto;
                width: 20%;
            }
            h2 {
                padding-bottom: 2%;
            }
            h1, h2 {
                text-align: center;
                color: white;
            }

            //Si connecté
            .mainpage {
                display: flex;
                h1, h2 {
                    color: white;
                }
                .genre {
                    .icon-movie {
                        width: 60%;
                        display: block;
                        margin: 0 auto;
                    }
                    ul {
                        li {
                            list-style-type: none;
                            padding: 10px;
                            a {
                                color: white;
                                text-decoration: none;
                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .container {
                    margin: 0px 15px;
                    margin-left: 5%;
                    h1 {
                        text-align: center;
                    }
                    .home-bar {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        li {
                            list-style-type: none;
                            text-align: center;
                            font-size: 20px;
                            a {
                                text-decoration: none;
                                color: white;
                                padding: 10px;
                                text-align: center;
                            }
                        }
                    }
                    overflow: hidden;
                    .title-slider {
                        color: white;
                        text-align: left;
                        font-size: 22px;
                        font-style: italic;
                        font-weight: bold;
                    }
                    #slider {
                        .photo {
                            border-radius: 25px;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                    .chevron {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-top: 2%;
                        margin-bottom: 25px;
                        .btn {
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1240px) {
    body {
        main {
            .mainpage {
                .genre {
                    ul {
                        width: 100%;
                        li {
                            width: 150%;
                        }
                    }
                }
                .container {
                    .chevron {
                        .btn {
                            width: 5%;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 600px) and (max-width: 1240px) {
    body {
        main {
            .mainpage {
                .genre {
                    gap: 10%;
                    ul {
                        width: 20%;
                        li {
                            width: 50%;
                        }
                    }
                }
                .container {
                    margin-left: 3%;
                    .chevron {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .btn {
                            width: 10%;
                            padding-bottom: 25px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:444px) and (max-width: 600px) {
    body {
        main {
            margin: 15px;
            .site {
                .connect {
                    width: 45%;
                }
            }
            .mainpage {
                flex-direction: column;
                .genre {
                    order: 1;

                    ul {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        li {
                            text-align: center;
                        }
                    }
                }
                .container {
                    order: 0;
                    .chevron {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 25px;
                        .btn {
                            width: 15%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 444px) {
    body {
        main {
            .mainpage {
                flex-direction: column;
                .genre {
                    order: 1;
                    ul {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        li {
                            text-align: center;
                        }
                    }
                }
                .container {
                    margin-left: 2%;
                    margin-right: 2%;
                    order: 0;
                    .chevron {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 25px;
                        .btn {
                            width: 15%;
                        }
                    }
                }
            }
        }
    }
}
