@charset "UTF-8";
@font-face {
  font-family: JacquesFrançoisShadow;
  src: url(../fonts/Jacques_Francois_Shadow/JacquesFrancoisShadow-Regular.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
body {
  font-family: Montserrat;
  margin: 0 auto;
  background-color: black;
}
body nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}
body nav .block1 {
  display: flex;
  align-items: center;
}
body nav .block1 h1 {
  color: rgb(255, 0, 0);
  font-family: JacquesFrançoisShadow;
  font-size: 45px;
}
body nav .block1 .menu {
  width: 48px;
  height: 48px;
}
body nav .searchbar {
  display: flex;
  align-items: center;
}
body nav .searchbar input {
  border: none;
  font-size: 17px;
  padding: 6px;
}
body nav .searchbar button {
  cursor: pointer;
  padding: 6px 10px;
  border: none;
  background: #ddd;
  font-size: 17px;
  margin-top: 6px;
  margin-right: 6px;
}
body nav .searchbar button:hover {
  background-color: #ccc;
}
body main .site {
  padding: 15px;
  margin: 15px;
}
body main .site .categorie-action h2, body main .site .categorie-drame h2, body main .site .categorie-aventure h2, body main .site .categorie-horreur h2, body main .site .categorie-fantastique h2, body main .site .categorie-comedie h2 {
  color: white;
}
body main .site .categorie-action #g-action, body main .site .categorie-action #g-aventure, body main .site .categorie-action #g-horreur, body main .site .categorie-action #g-drame, body main .site .categorie-action #g-comedie, body main .site .categorie-action #g-fantastique, body main .site .categorie-drame #g-action, body main .site .categorie-drame #g-aventure, body main .site .categorie-drame #g-horreur, body main .site .categorie-drame #g-drame, body main .site .categorie-drame #g-comedie, body main .site .categorie-drame #g-fantastique, body main .site .categorie-aventure #g-action, body main .site .categorie-aventure #g-aventure, body main .site .categorie-aventure #g-horreur, body main .site .categorie-aventure #g-drame, body main .site .categorie-aventure #g-comedie, body main .site .categorie-aventure #g-fantastique, body main .site .categorie-horreur #g-action, body main .site .categorie-horreur #g-aventure, body main .site .categorie-horreur #g-horreur, body main .site .categorie-horreur #g-drame, body main .site .categorie-horreur #g-comedie, body main .site .categorie-horreur #g-fantastique, body main .site .categorie-fantastique #g-action, body main .site .categorie-fantastique #g-aventure, body main .site .categorie-fantastique #g-horreur, body main .site .categorie-fantastique #g-drame, body main .site .categorie-fantastique #g-comedie, body main .site .categorie-fantastique #g-fantastique, body main .site .categorie-comedie #g-action, body main .site .categorie-comedie #g-aventure, body main .site .categorie-comedie #g-horreur, body main .site .categorie-comedie #g-drame, body main .site .categorie-comedie #g-comedie, body main .site .categorie-comedie #g-fantastique {
  width: 3%;
}
body main .site .categorie-action #g-action:hover, body main .site .categorie-action #g-aventure:hover, body main .site .categorie-action #g-horreur:hover, body main .site .categorie-action #g-drame:hover, body main .site .categorie-action #g-comedie:hover, body main .site .categorie-action #g-fantastique:hover, body main .site .categorie-drame #g-action:hover, body main .site .categorie-drame #g-aventure:hover, body main .site .categorie-drame #g-horreur:hover, body main .site .categorie-drame #g-drame:hover, body main .site .categorie-drame #g-comedie:hover, body main .site .categorie-drame #g-fantastique:hover, body main .site .categorie-aventure #g-action:hover, body main .site .categorie-aventure #g-aventure:hover, body main .site .categorie-aventure #g-horreur:hover, body main .site .categorie-aventure #g-drame:hover, body main .site .categorie-aventure #g-comedie:hover, body main .site .categorie-aventure #g-fantastique:hover, body main .site .categorie-horreur #g-action:hover, body main .site .categorie-horreur #g-aventure:hover, body main .site .categorie-horreur #g-horreur:hover, body main .site .categorie-horreur #g-drame:hover, body main .site .categorie-horreur #g-comedie:hover, body main .site .categorie-horreur #g-fantastique:hover, body main .site .categorie-fantastique #g-action:hover, body main .site .categorie-fantastique #g-aventure:hover, body main .site .categorie-fantastique #g-horreur:hover, body main .site .categorie-fantastique #g-drame:hover, body main .site .categorie-fantastique #g-comedie:hover, body main .site .categorie-fantastique #g-fantastique:hover, body main .site .categorie-comedie #g-action:hover, body main .site .categorie-comedie #g-aventure:hover, body main .site .categorie-comedie #g-horreur:hover, body main .site .categorie-comedie #g-drame:hover, body main .site .categorie-comedie #g-comedie:hover, body main .site .categorie-comedie #g-fantastique:hover {
  cursor: pointer;
  transform: scale(1.1);
}
body main .site .categorie-action #d-action, body main .site .categorie-action #d-aventure, body main .site .categorie-action #d-horreur, body main .site .categorie-action #d-drame, body main .site .categorie-action #d-comedie, body main .site .categorie-action #d-fantastique, body main .site .categorie-drame #d-action, body main .site .categorie-drame #d-aventure, body main .site .categorie-drame #d-horreur, body main .site .categorie-drame #d-drame, body main .site .categorie-drame #d-comedie, body main .site .categorie-drame #d-fantastique, body main .site .categorie-aventure #d-action, body main .site .categorie-aventure #d-aventure, body main .site .categorie-aventure #d-horreur, body main .site .categorie-aventure #d-drame, body main .site .categorie-aventure #d-comedie, body main .site .categorie-aventure #d-fantastique, body main .site .categorie-horreur #d-action, body main .site .categorie-horreur #d-aventure, body main .site .categorie-horreur #d-horreur, body main .site .categorie-horreur #d-drame, body main .site .categorie-horreur #d-comedie, body main .site .categorie-horreur #d-fantastique, body main .site .categorie-fantastique #d-action, body main .site .categorie-fantastique #d-aventure, body main .site .categorie-fantastique #d-horreur, body main .site .categorie-fantastique #d-drame, body main .site .categorie-fantastique #d-comedie, body main .site .categorie-fantastique #d-fantastique, body main .site .categorie-comedie #d-action, body main .site .categorie-comedie #d-aventure, body main .site .categorie-comedie #d-horreur, body main .site .categorie-comedie #d-drame, body main .site .categorie-comedie #d-comedie, body main .site .categorie-comedie #d-fantastique {
  width: 3%;
}
body main .site .categorie-action #d-action:hover, body main .site .categorie-action #d-aventure:hover, body main .site .categorie-action #d-horreur:hover, body main .site .categorie-action #d-drame:hover, body main .site .categorie-action #d-comedie:hover, body main .site .categorie-action #d-fantastique:hover, body main .site .categorie-drame #d-action:hover, body main .site .categorie-drame #d-aventure:hover, body main .site .categorie-drame #d-horreur:hover, body main .site .categorie-drame #d-drame:hover, body main .site .categorie-drame #d-comedie:hover, body main .site .categorie-drame #d-fantastique:hover, body main .site .categorie-aventure #d-action:hover, body main .site .categorie-aventure #d-aventure:hover, body main .site .categorie-aventure #d-horreur:hover, body main .site .categorie-aventure #d-drame:hover, body main .site .categorie-aventure #d-comedie:hover, body main .site .categorie-aventure #d-fantastique:hover, body main .site .categorie-horreur #d-action:hover, body main .site .categorie-horreur #d-aventure:hover, body main .site .categorie-horreur #d-horreur:hover, body main .site .categorie-horreur #d-drame:hover, body main .site .categorie-horreur #d-comedie:hover, body main .site .categorie-horreur #d-fantastique:hover, body main .site .categorie-fantastique #d-action:hover, body main .site .categorie-fantastique #d-aventure:hover, body main .site .categorie-fantastique #d-horreur:hover, body main .site .categorie-fantastique #d-drame:hover, body main .site .categorie-fantastique #d-comedie:hover, body main .site .categorie-fantastique #d-fantastique:hover, body main .site .categorie-comedie #d-action:hover, body main .site .categorie-comedie #d-aventure:hover, body main .site .categorie-comedie #d-horreur:hover, body main .site .categorie-comedie #d-drame:hover, body main .site .categorie-comedie #d-comedie:hover, body main .site .categorie-comedie #d-fantastique:hover {
  cursor: pointer;
  transform: scale(1.1);
}
body main .site .categorie-action .categorie-action, body main .site .categorie-drame .categorie-action, body main .site .categorie-aventure .categorie-action, body main .site .categorie-horreur .categorie-action, body main .site .categorie-fantastique .categorie-action, body main .site .categorie-comedie .categorie-action {
  overflow: hidden;
}
body main .site .categorie-action .chevron, body main .site .categorie-drame .chevron, body main .site .categorie-aventure .chevron, body main .site .categorie-horreur .chevron, body main .site .categorie-fantastique .chevron, body main .site .categorie-comedie .chevron {
  display: flex;
  justify-content: center;
}
body main .site .categorie-action .photo, body main .site .categorie-drame .photo, body main .site .categorie-aventure .photo, body main .site .categorie-horreur .photo, body main .site .categorie-fantastique .photo, body main .site .categorie-comedie .photo {
  -moz-column-gap: 5px;
       column-gap: 5px;
  border-radius: 15px;
  flex-direction: column;
}
body footer {
  background-color: rgba(250, 55, 29, 0.95);
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px;
}
body footer a {
  color: white;
  text-decoration: none;
}
body footer .ft-img {
  width: 8%;
}/*# sourceMappingURL=homepage.css.map */